<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Students</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterStudents()"></ion-searchbar>
  
  <ion-list>
    <ion-card *ngFor="let student of filteredStudents" [routerLink]="[student.id]" [state]="{ student: student }">
      <ion-card-header>
        <ion-card-title>{{student.first_name}} {{student.last_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h2>{{student.first_name}} {{student.last_name}}</h2>
            <p><ion-icon name="calendar-outline"></ion-icon> {{student.date_of_birth | date}}</p>
            <p><ion-icon name="location-outline"></ion-icon> {{student.address}}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>